// Custom styles.
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}
div#particles-js {
	position: fixed;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: -1;
	opacity: .5;
}